* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 70%;
}

a {
  text-decoration: none;
  color: palegreen;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

nav,
main,
footer {
  width: 100%;
  max-width: 700px;
}

header {
  padding: 5em
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.push {
  margin-left: auto;
}

.active-link {
  background-color: blue;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-message {
  color: red;
  display: none;
}

.auth-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 8px;
}

.auth-container {
  border: 1px solid #ccc;
  padding: 2em;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  max-width: 420px;
}

.workout-form {
  display: flex;
  flex-direction: column;
}

.exercise-div {
  display: flex;
  flex-direction: column;
}

[class^="set-"] {
  display: flex;
  flex-direction: row;
  padding: 2em;

}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}