@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --space-border: 2px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --primary: #000000;
  --text: #000000;
  --muted: #6b7280;

  --background: #f7f7f7;
  --card: #ffffff;

  --border: #e5e5e5;
  --border-strong: #d4d4d4;

  --hover: #f3f3f3;
  --active: #ededed;
  interpolate-size: allow-keywords;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  padding: var(--space-sm) var(--space-md);
  background: white;
  border: 1px solid var(--border);
  color: black;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: var(--primary);
}

a {
  text-decoration: none;
  color: #444;
  font-size: var(--space-md);
}

a:hover {
  text-decoration: underline;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

main {
  width: 100%;
  max-width: 700px;
  margin-top: var(--space-lg);
}

body {
  background: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
}



#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}